@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

html, body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    height: 40%;
    Max-width: 100vw;
}

h1 {
    font-family: Poppins, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 700;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    background: rgb(114,255,190);
    background: linear-gradient(135deg, rgba(114,255,190,1) 0%, rgba(48,255,247,1) 50%, rgba(125,208,255,1) 100%); 
    align-content: center;
}

.main-ct {
    background:rgb(255, 255, 255);
    padding: 1px;
    align-content: center;
    height: auto;
    text-align: center;
}

.main-ct h2 {
    font-size: 23.2px;
    font-weight: 600;
    text-align: center;
}

.ct-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
}

.main-ct p {
    padding-top: 1rem;
    padding-bottom: 0px;
    font-weight: 500;
    text-align: center;
    background: white;
}

.description {
    width: 84%;
    margin: auto;
    padding: 0;
}

.version-h {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.prv {
    width: auto;
    height: auto;
    /*padding: 2rem;*/
    background: rgb(158,227,255);
    background: linear-gradient(45deg, rgba(158,227,255,1) 0%, rgba(40,218,237,1) 52%, rgba(0,162,255,1) 100%); 
}

.prv-content {
    width: 70%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem;
    text-align: center;
}

.prv-content img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.changelog {
    align-items: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
}

.changelog-d {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.changelog-d h4 {
    padding: 0;
    margin: 0;
}

.changelog-d-p {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.changelog p {
    padding: 0;
    width: 100%;
    display: block;
}

.button {
    margin: 1.3rem;
    padding: 8px;
}

.button a {
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 20px;
    font-size: 12px;
    text-decoration: none;
    background: #00d9ff;
    width: 110px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    margin-left: auto;
    margin-right: auto;
}

.changelog-full {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}